= form_for @art_type do |f|
  - if @art_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@art_type.errors.count, "error")} prohibited this art_type from being saved:"
      %ul
        - @art_type.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
